Repository Project-C-SQL/postgresql-for-novices, pull requests merged in 2022-12, with the labels that each got.

#93 Fix/sqlparser typeconv
  src/pg4n/sqlparser.py
  src/pg4n/test/test_sqlparser.py
Labels: bug, parser

#94 Feat/inconsistent expression
  scripts/gen_config_values.bash
  src/pg4n/config_values.py
  src/pg4n/inconsistent_expression_checker.py
  src/pg4n/semanticrouter.py
  src/pg4n/test/test_inconsistent_expression_checker.py
Labels: enhancement, semantics

#97 Fix/qepparser crash
  src/pg4n/implied_expression_checker.py
  src/pg4n/qepparser.py
  src/pg4n/subquery_order_by_checker.py
Labels: bug, qep

#99 Fix/sqlparser error handling
  src/pg4n/sqlparser.py
Labels: bug, parser

#102 Fix/config eval
  src/pg4n/main.py
  src/pg4n/semanticrouter.py
  src/pg4n/sum_distinct_checker.py
Labels: bug

#101 Usage + architecture + maintenance documentation
  docs/architecture.jpg
  docs/architecture.md
  docs/index.rst
  docs/interfaces.md
  docs/maintenance-plan.md
  docs/pg4n.md
  docs/program-architecture.md
Labels: documentation
